.wrapper {
  width: 90vw;
  margin: 0 auto;
  background-color: #1b1b1b;
}

.type__wrapper {
  display: flex;
  color: white;
}

.type__wrapper > div {
  font-size: 15px;
  width: 49%;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid rgb(91, 91, 91);
  border-radius: 5px;
  padding: 0 0.3rem;
  margin-bottom: 0.5rem;
}

.queue__type__container {
  margin-right: 0.5rem;
}

.position__wrapper {
  display: flex;
  justify-content: space-between;
  color: white;
}

.position__container {
  display: flex;
}

.position__container > button:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.position__container > button:last-child {
  border: 1px solid rgb(91, 91, 91);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
