.wrapper {
  width: 90vw;
  height: 210px;
  margin-top: 2rem;
  border: 1px solid rgb(91, 91, 91);
  border-radius: 5px;
  background-color: rgb(24, 24, 24);
}

.container {
  padding: 0.7rem 0.5rem;
  color: white;
}

.summoner__info__container {
  display: flex;
}

.summoner__title__container {
  margin-left: 0.5rem;
}
.summoner__info__tier__container {
  margin-left: 0.3rem;
}

.summoner__info__tier__container {
  display: flex;
  align-items: center;
}

.summoner__info__voice {
  width: 17px;
  height: 17px;
  color: rgb(96, 240, 0);
  margin-left: 0.3rem;
}

.summonerImage__element {
  background-color: white;
  border-radius: 50px;
}

.summoner__board__container {
  margin: 0.5rem 0;
  height: 80px;
  font-size: 15px;
}

.summoner__name__container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 0.3rem;
  margin-top: 1rem;
}
.summoner__name__element {
  margin-left: 0.3rem;
}

.summoner__record__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.7rem;
}
